/* =============================== Resets =============================== */
body, ul, li, a {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

/* =============================== Общие =============================== */

body {
    background: url('./img/general/background.png') no-repeat;
    background-size: cover;
    color: white;
    font-size: 1.2em;
    line-height: 1.2em;
    font-weight: 500;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

.main-template {
    display: flex;
    padding: 10px 0;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
}

/* === ЗАТЕНЯШКИ ФОНА БЛОКОВ === */
.page-nav,
.page-main,
.page-aside {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 25px 15px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}

a {
    text-decoration: none;
    color: white;
    padding: 5px;
}

a:hover {
    text-decoration: none;
    color: rgb(158, 158, 158);
}

/* =============================== Header =============================== */

.page-header {
    background-color: rgb(14, 14, 14);
}

.header-row {
    display: flex;
    justify-content: space-between;
}

/* =============================== Nav =============================== */

.page-nav {
    min-width: 300px;
}

/* =============================== Main =============================== */

.page-main {
    margin: 0 15px;

    min-width: 350px;
}

.page-main {
    min-width: 350px;
}

/* =============================== Aside =============================== */

.page-aside {
    min-width: 150px;
}

/* =============================== Footer =============================== */

.page-footer {
    background-color: rgb(14, 14, 14);

    margin-top: auto;
}